{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Major Requirements</h2>
<table style="width:90%">
<thead>
    <tr>
    <th>Requirment Number</th>
    <th>Major</th>
    <th>Description</th>
    </tr>
</thead>
<tbody>
    {% for requirement in object_list %}
    <tr>
    <td><a href="{% url 'requirement_detail' requirement.pk %}">{{ requirement.id }}</a></td>
    <td>{{ requirement.major_id }}</td>
    <td>{{ requirement.description }}</td>
    </tr>
    {% endfor %}
</tbody>

{% endblock %}
