{% extends 'base.html' %}
{% block content %}
<div>
  Transfer Credit Policies:
  <ul>
    <li>Only those transfer credit courses that carry a grade of "C" or better can be accepted.</li>
    <li>No failed business requirements taken at UNHM may be repeated from another school.</li>
    <li>Students have up to one semester after matriculation to reconcile transfer credit.</li>
    <li>Students who are candidates for a bachelor’s degree must attain the last one-quarter of total credits for the degree (generally 32 credits) at the University of New Hampshire as a matriculated student (this is the “Senior Residency Requirement”). Students seeking to transfer credits that fall into this range must petition through their Dean’s office, unless they are taking these credits through the UNH Study Abroad or NSE Programs.</li>
  </ul>
</div>
<div class="selectschool">
  <a href="{% url 'schools_home' %}">Click Here to Pick School to Transfer Credits From</a>
</div>


{% endblock content %}
